/**
!/*
.env
/backups
!.gitignore
!.gitmodules
!/**/compose.yml
!/**/backup.setup.sh
!/**/backup.create.sh
!/**/backup.cleanup.sh
!/**/backup.media.sh
.restic
/backups-restic
/*.log
backup.cron.sh
!/website/pull.sh

!/fail2ban
!/fail2ban/config
!/fail2ban/config/fail2ban
!/fail2ban/config/fail2ban/action.d
!/fail2ban/config/fail2ban/filter.d
!/fail2ban/config/fail2ban/jail.d
!/fail2ban/config/fail2ban/**/*.local
fail2ban/config/fail2ban/jail.local
fail2ban/config/fail2ban/action.d/whos-there.local

!/local-cert/*.sh
!/traefik
!/traefik/dynamic
!/traefik/dynamic/*

!/traefik/dumpacme.sh
!/matrix/refresh_coturn_tls.sh
